.parent{
    background-color: bisque;
    padding:12px 20px 2px 20px;
    border-radius: 10px;
}
.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: brown;
    margin-left: auto;
    margin-right: auto;
    
}
.text{
    
    margin-right: auto;
    color: white;
}